In [ ]:
#!pip insatll pandas has been done in the terminal

In [3]:
import pandas as pd

In [4]:
#Reading the data
df2 = pd.read_csv(r'C:\Users\DELL\Desktop\Capstone-1\traffic_stops - traffic_stops_with_vehicle_number (1).csv')

C:\Users\DELL\AppData\Local\Temp\ipykernel_10412\960904243.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv(r'C:\Users\DELL\Desktop\Capstone-1\traffic_stops - traffic_stops_with_vehicle_number (1).csv')

In [5]:
#displaying the first few rows
df2.head(5)

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,2020-01-01,0:00:00,Canada,M,59,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,True,UP76DY3473
1,2020-01-01,0:01:00,India,M,35,58,Other,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441
2,2020-01-01,0:02:00,USA,M,26,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264
3,2020-01-01,0:03:00,Canada,M,26,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807
4,2020-01-01,0:04:00,Canada,M,62,75,Other,Speeding,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305

In [6]:
df2['search_type'].isna().sum()

np.int64(21720)

In [8]:
df2['search_type'] = df2['search_type'].fillna('empty')

In [9]:
df2['search_type'].isna().sum()

np.int64(0)

In [11]:
df2['stop_date']=pd.to_datetime(df2['stop_date'],format='%Y-%m-%d')
display(df2)

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,2020-01-01,0:00:00,Canada,M,59,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,True,UP76DY3473
1,2020-01-01,0:01:00,India,M,35,58,Other,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441
2,2020-01-01,0:02:00,USA,M,26,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264
3,2020-01-01,0:03:00,Canada,M,26,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807
4,2020-01-01,0:04:00,Canada,M,62,75,Other,Speeding,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65533,2020-02-15,12:13:00,India,F,54,48,Black,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,DL56GW6568
65534,2020-02-15,12:14:00,Canada,F,18,35,Hispanic,Seatbelt,Other,True,Vehicle Search,Ticket,False,16-30 Min,True,TN73EO7098
65535,2020-02-15,12:15:00,USA,M,27,41,Asian,Seatbelt,DUI,True,Frisk,Ticket,True,30+ Min,True,GJ33MX8328
65536,2020-02-15,12:16:00,Canada,F,49,63,Black,Seatbelt,Other,False,empty,Warning,True,0-15 Min,True,KA24UZ8488
65537,2020-02-15,12:17:00,USA,F,72,32,Other,Seatbelt,Speeding,True,empty,Ticket,True,16-30 Min,False,UP89PT2924

In [12]:
df2['stop_time']=pd.to_datetime(df2['stop_time'],format='%H:%M:%S')
print(df2)

       stop_date           stop_time country_name driver_gender  \
0     2020-01-01 1900-01-01 00:00:00       Canada             M
1     2020-01-01 1900-01-01 00:01:00        India             M
2     2020-01-01 1900-01-01 00:02:00          USA             M
3     2020-01-01 1900-01-01 00:03:00       Canada             M
4     2020-01-01 1900-01-01 00:04:00       Canada             M
...          ...                 ...          ...           ...
65533 2020-02-15 1900-01-01 12:13:00        India             F
65534 2020-02-15 1900-01-01 12:14:00       Canada             F
65535 2020-02-15 1900-01-01 12:15:00          USA             M
65536 2020-02-15 1900-01-01 12:16:00       Canada             F
65537 2020-02-15 1900-01-01 12:17:00          USA             F

       driver_age_raw  driver_age driver_race     violation_raw violation  \
0                  59          19       Asian     Drunk Driving  Speeding
1                  35          58       Other             Other     Other
2                  26          76       Black  Signal Violation  Speeding
3                  26          76       Black          Speeding       DUI
4                  62          75       Other          Speeding     Other
...               ...         ...         ...               ...       ...
65533              54          48       Black             Other     Other
65534              18          35    Hispanic          Seatbelt     Other
65535              27          41       Asian          Seatbelt       DUI
65536              49          63       Black          Seatbelt     Other
65537              72          32       Other          Seatbelt  Speeding

       search_conducted     search_type stop_outcome  is_arrested  \
0                  True  Vehicle Search       Ticket         True
1                 False  Vehicle Search       Arrest         True
2                 False           Frisk       Ticket         True
3                  True           Frisk      Warning        False
4                 False  Vehicle Search       Arrest         True
...                 ...             ...          ...          ...
65533             False  Vehicle Search       Arrest         True
65534              True  Vehicle Search       Ticket        False
65535              True           Frisk       Ticket         True
65536             False           empty      Warning         True
65537              True           empty       Ticket         True

      stop_duration  drugs_related_stop vehicle_number
0         16-30 Min                True     UP76DY3473
1         16-30 Min                True     RJ83PZ4441
2         16-30 Min                True     RJ32OM7264
3          0-15 Min                True     RJ76TI3807
4         16-30 Min               False     WB63BB8305
...             ...                 ...            ...
65533     16-30 Min               False     DL56GW6568
65534     16-30 Min                True     TN73EO7098
65535       30+ Min                True     GJ33MX8328
65536      0-15 Min                True     KA24UZ8488
65537     16-30 Min               False     UP89PT2924

[65538 rows x 16 columns]

In [13]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65538 entries, 0 to 65537
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           65538 non-null  datetime64[ns]
 1   stop_time           65538 non-null  datetime64[ns]
 2   country_name        65538 non-null  object
 3   driver_gender       65538 non-null  object
 4   driver_age_raw      65538 non-null  int64
 5   driver_age          65538 non-null  int64
 6   driver_race         65538 non-null  object
 7   violation_raw       65538 non-null  object
 8   violation           65538 non-null  object
 9   search_conducted    65538 non-null  bool
 10  search_type         65538 non-null  object
 11  stop_outcome        65538 non-null  object
 12  is_arrested         65538 non-null  bool
 13  stop_duration       65538 non-null  object
 14  drugs_related_stop  65538 non-null  bool
 15  vehicle_number      65538 non-null  object
dtypes: bool(3), datetime64[ns](2), int64(2), object(9)
memory usage: 6.7+ MB

In [14]:
df2.to_csv("Cleanedsecurelog.csv")

In [ ]:
#SQL connection#!pip install mysql-connector-python done in the terminal

In [52]:
import mysql.connector

In [72]:
Securelogs = mysql.connector.connect(
    host="localhost",
    user="root",
    password="09876",
    database="Securelogs",
    autocommit=True
)
mycursor = Securelogs.cursor()

In [45]:
mycursor.execute("create database Securelogs")

DatabaseError: 1007 (HY000): Can't create database 'securelogs'; database exists

In [75]:
mycursor.execute("""
    CREATE TABLE Securelogs.policetraff (
        stop_date DATETIME,
        stop_time DATETIME,
        country_name VARCHAR(60),
        driver_gender VARCHAR(60),
        driver_age_raw INT,
        driver_age INT,
        driver_race VARCHAR(70),
        violation_raw VARCHAR(40),
        violation VARCHAR(60),
        search_conducted VARCHAR(60),
        search_type VARCHAR(60),
        stop_outcome VARCHAR(60),
        is_arrested VARCHAR(60),
        stop_duration VARCHAR(60),
        drugs_related_stop VARCHAR(60),
        vehicle_number VARCHAR(60)
    )
""")

In [76]:
#Step 10: Inserting Data into the Table
#pip install mysql-connector-python sqlalchemy done in terminal
from sqlalchemy import create_engine

engine = create_engine("mysql+mysqlconnector://root:09876@localhost/Securelogs")

In [68]:
print(type(engine))

<class 'sqlalchemy.engine.base.Engine'>

In [85]:
df2.to_sql(name='Ledger', con=engine, if_exists='append', index=False)

C:\Users\DELL\AppData\Local\Temp\ipykernel_22076\2251232983.py:1: UserWarning: The provided table name 'Ledger' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df2.to_sql(name='Ledger', con=engine, if_exists='append', index=False)

65538

In [81]:
Securelogs